@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos adicionales personalizados */
body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Estilos para los inputs de tipo color */
input[type="color"] {
  height: 40px;
  cursor: pointer;
  padding: 2px;
}